*.class

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Package Files #
*.jar
*.war
*.ear
*.nbm

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AsteroidsEntity/Asteroid/target/
/AsteroidsEntity/Bullet/target/
/AsteroidsEntity/Common/target/
/AsteroidsEntity/Core/target/
/AsteroidsEntity/Enemy/target/
/AsteroidsEntity/Player/target/
/AsteroidsEntity/CollisionDetection/target/
/AsteroidsEntity - Kopi/Asteroid/target/
/AsteroidsEntity - Kopi/Bullet/target/
/AsteroidsEntity - Kopi/CollisionDetection/target/
/AsteroidsEntity - Kopi/Common/target/
/AsteroidsEntity - Kopi/Core/target/
/AsteroidsServiceloader/Asteroid/target/
/AsteroidsServiceloader/Bullet/target/
/AsteroidsServiceloader/CollisionDetection/target/
/AsteroidsServiceloader/Common/target/
/AsteroidsServiceloader/Core/target/
/AsteroidsServiceloader/Enemy/target/
/AsteroidsServiceloader/Player/target/
/AsteroidsNetbeans1/branding/target/
/AsteroidsNetbeans1/application/target/
/AsteroidsNetbeans1/Common/target/
/AsteroidsNetbeans1/Player/target/
/AsteroidsNetbeans1/Core/target/
/AsteroidsNetbeans1/Enemy/target/
/AsteroidsNetbeans1/Bullet/target/
/AsteroidsNetbeans1/Asteroid/target/
/AsteroidsNetbeans1/CollisionDetection/target/
/AsteroidsNetbeans2dynamicupdate/SilentUpdate/target/
/AsteroidOSGI/branding/target/
/AsteroidOSGI/Common/target/
/AsteroidOSGI/Core/target/
/AsteroidOSGI/Enemy/target/
/AsteroidOSGI/Bullet/target/
/AsteroidOSGI/Asteroid/target/
/AsteroidOSGI/application/target/
/AsteroidOSGI/CommonBullet/target/
/AsteroidOSGI/CommonAsteroid/target/
/AsteroidOSGI/OSGIExtender/target/
/AsteroidOSGI/OSGIAsteroid/target/
/AsteroidSpring/branding/target/
/AsteroidSpring/Common/target/
/AsteroidSpring/Core/target/
/AsteroidSpring/Enemy/target/
/AsteroidSpring/Bullet/target/
/AsteroidSpring/Asteroid/target/
/AsteroidSpring/application/target/
/AsteroidSpring/CommonBullet/target/
/AsteroidSpring/CommonAsteroid/target/
/AsteroidSpring/OSGIExtender/target/
/AsteroidSpring/OSGIAsteroid/target/
/TestLab/Common/target/
/TestLab/Player/target/
/TestLab/Core/target/
/TestLab/Enemy/target/
/TestLab/Bullet/target/
/TestLab/Asteroid/target/
/TestLab/CollisionDetection/target/
/TestLab/SilentUpdate/target/
*.jar
*.class
/AsteroidSpring/Spring/target/
/AsteroidSpring/SpringPlayer/target/
/AsteroidSpring/SpringEnemy/target/
/TestLab/Player/nbproject/